<nav class="darken-2 green">
    <div class="nav-wrapper navy container">
        <a href="#!" class="brand-logo center bold"><i class="fa-solid fa-industry"></i> ies dashboard</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/lines/manufacturing">Manufacturing Lines<i class="fa-solid fa-industry"></i></a></li>
            <li><a href="/dashboard">Dashboard<i class="fa-solid fa-house-user"></i></a></li>
            <li><a href="/logout">Logout  <i class="fa-solid fa-door-closed"></i></a></li>
        </ul>
    </div>
</nav>

