<nav class="darken-3 blue">
    <div class="nav-wrapper navy container">

        <a href="#!" class="brand-logo center bold">
             <i class="fa-solid fa-industry"></i>
            ies dashboard
            
        </a>
        <a href="https://www.flaticon.com/free-icon/factory_4514812?term=factory&page=1&position=16&page=1&position=16&related_id=4514812&origin=search
        "></a>
        <img src="https://icons8.com/icon/dN7hkgYJmdok/factory" alt="logo">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard">Dashboard<i class="fa-solid fa-house-user"></i></a></li>
            <li><a href="/logout">Logout  <i class="fa-solid fa-door-closed"></i></a></li>
            <li><a href="/logout">About Us <i class="fa-regular fa-address-card"></i></a></li>

        </ul>
    </div>
</nav>

