<h3>  <i class="fa-solid fa-industry"></i> industrial-engineering-solutions</h3>
<div class="section">
    <p class="lead">study all your industrial processes and activities in detials, industrious solution for operational excellence seekers</p>

</div>
<div class="divider"></div>

<div class="section">
    <a href="/google" class="btn green darken-1">
        <i class="fa-brands fa-google left"></i>
        LOG IN WITH GOOGLE
    </a>
</div>
